/*------------------CSS3 FOR MOBIL-----------------*/
@media screen and (max-width: 375px){
    .body{
        width: 90%;
        font-size: 95%;
        background-color: cornflowerblue;
    }
    .mainheader nav{
        height: 160px;
    }
    .mainheader ul {
        width: 100%;
        padding: 0%;    
    }
    .mainheader nav ul li {
    display: inline;
    }
    .mainheader a:link,.mainheader a:visited{
        color: white;
        padding: 10px 40px;
        display: inline-block;
        height: 20px;
        display:block;
    }
    .maincontent{
        width: 100%;
    }
}