/*------------------CSS3 FOR MOBIL-----------------*/
@media screen and (max-width: 414px){
    body{
        background-color:#111111;
        color:#0074D9;
        width: 90%;
        font-size: 95%;
    }
    .mainheader nav{
        height: 180px;
    }
    .mainheader ul {
        width: 100%;
        padding: 0%;    
    }
    .mainheader nav ul li {
    display: inline;
    }
    .mainheader a:link,.mainheader a:visited{
        color: white;
        display: inline-block;
        height: 20px;
        display:block;
    }
    .maincontent{
        width: 100%;
    }
    .headerImage{
        height: 150px;
    }
    .samer{
        height: 145px;
        border-radius: 6px;
    }
    .mainheader nav{
        margin-top: 1px;
    }
}